@import "fonts.css";
@import "~normalize.css"

.container {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.logo {
  background-image: url("../assets/webpack-logo.png");
  width: 200px;
  height: 200px;
  background-size: cover;
  margin: 0 auto;
}
